body{
    background-image: linear-gradient(to right, #EF57BC , #8BA0F7);
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Articles{
    margin-bottom: 20px;
}

footer{
    margin-top: 20px;
}