* {
    font-family: 'Baloo Bhai 2'; 
}

/* Navbar CSS */
.navbar {
    display: flex;
    align-items: flex-start; 
    padding-left: 35%;
    background-image: linear-gradient(to right, #DD41A7 , #8FA2E3);
}

.navbar ul{
    margin: 0;
    padding: 0;
    display: flex; 
    width: 100%; 
}

.navbar li {
    display: block; 
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Logo {
    border-radius: 50%;
    max-width: 100px;
    margin-left: -150px;
    margin-top: 10px;
}

.form-outline {
    width: 50%;
}



  /* Aside CSS */
  .video{
    width: 250px;
    height: 250px;
    display: block;
    float: right;
    margin-right: 500px;
  }

  /*Footer CSS */
  .SocialLinks{
    width: 30px;
    height: 30px;
    margin-left: 25px;
    padding-top: 550px;
  }

  .AboutUs{
    text-align: right;
    margin-right: 60px;
  }
