* {
    font-family: 'Baloo Bhai 2'; 
}

/* Navbar CSS */
.navbar {
    display: flex;
    align-items: flex-start; 
    padding-left: 35%;
    background-image: linear-gradient(to right, #DD41A7 , #8FA2E3);
}

.navbar ul{
    margin: 0;
    padding: 0;
    display: flex; 
    width: 100%; 
}

.navbar li {
    display: block; 
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Logo {
    border-radius: 50%;
    max-width: 100px;
    margin-left: -150px;
    margin-top: 10px;
}

.form-outline {
    width: 50%;
}



.backButton{
  text-decoration: none; 
  padding: 5px 10px; 
  color: white; 
  background-color: white;
  border-radius: 15px;
  margin-left: -350px;
  margin-top: 10px;
}





  /* Aside CSS */
  .video{
    width: 250px;
    height: 250px;
    display: block;
    float: right;
    margin-right: 500px;
  }

  /*Footer CSS */
  .SocialLinks{
    width: 30px;
    height: 30px;
    margin-left: 25px;
    padding-top: 550px;
  }

  .AboutUs{
    text-align: right;
    margin-right: 60px;
  }


  /*Contact us Form CSS */
  .contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    float: right;
  }
    
  .contact-form .form-control{
      border-radius:1rem;
  }

  .contact-form form{
      padding: 14%;
  }
  .contact-form form .row{
      margin-bottom: -7%;
  }
  .contact-form h3{
      margin-bottom: 8%;
      margin-top: -10%;
      text-align: center;
      color: #0062cc;
  }
  .contact-form .btnContact {
      width: 50%;
      border: none;
      border-radius: 1rem;
      padding: 1.5%;
      background: #dc3545;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
  }
  .btnContactSubmit
  {
      width: 50%;
      border-radius: 1rem;
      padding: 1.5%;
      color: #fff;
      background-color: #0062cc;
      border: none;
      cursor: pointer;
  }

  .GoogleMaps{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 40px;
  }
